{% extends "./layout.html" %}

{% block pageTitle %}
    <title> Homepage</title>
{% endblock %}
{% block content %}
    <h1>Welcome to the HR system! Please choose your team:</h1>

    <form method="POST" action="">
        <fieldset>
            <a name="hrHomepage" href="/hr">HR</a>
            </br></br>
            <a name="financeHomepage" href="/finance">Finance</a>
            </br></br>    
            <a name="salesHomepage" href="/sales">Sales</a>
            </br></br> 
            <a name="talentHomepage" href="/talent">Talent</a>
            </br></br> 
        </fieldset>
    </form>
{% endblock %}
